.myinput , .myinput:focus{
    border: 3px solid var(#00AC7C);
}

#spage{
    max-width: 60% !important;
 
    margin-top: 10% !important;
    margin-left: auto !important;
    margin-right: auto !important;

}